.activeContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
  align-items: center;
  overflow-y: scroll;
  max-height: 750px;
  composes: custom-scroll from global;
}