.itemContainer {
  position: relative;
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.itemContainer p {
  margin: 0;
}

.itemImage img {
  width: 100%;
}

.itemPrice {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: #FFF;
}

@media (max-width: 768px) { 
  .itemContainer {
    width: 200px;
  }
}