.mainContainer {
  margin:  40px 0 auto auto;
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

.mainText {
  composes: text text_type_main-large from global;
  flex-grow: 0;
}

@media (max-width: 1300px) { 
  .mainContainer {
    margin:  40px auto auto auto;
    align-self: center;
  }
}
