.mainContainer {
  display: flex;
  margin-top: 150px;
  align-items: center;
  gap: 60px;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  font-size: 36px;
  text-decoration: none;
  composes: text text_color_inactive from global;
}

.active {
  color: #F2F2F3;
}

.sectionContainer {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.textLinkContainer {
  opacity: 0.2;
}

.buttons {
  display: flex;
  gap: 20px;
}