.content {
  box-sizing: border-box;
  position: absolute;
  max-width: 640px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background-color: var(--background-alt);
  border-radius: 40px;
  padding: 40px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  gap: 20px;
}

.contentHeader {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.closeButton {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.closeButton:before, .closeButton:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 32px;
  background-color: #fff;
}

.closeButton:before {
  transform: translateX(-50%) rotate(45deg);
}

.closeButton:after {
  transform: translateX(-50%) rotate(-45deg);
}