.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.activeContainer {
  width: 100%;
  max-width: 536px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
  align-items: center;
  overflow-y: scroll;
  max-height: 400px;
  composes: custom-scroll from global;
}

@media (max-width: 600px) { 
  .mainContainer {
    margin-top: 50px;
  }
  .activeContainer {
    margin-right: 0;
    margin-left: 15px;
    padding-right: 5px;
  }
}