/* eslint-disable */ 

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}

.leftSection {
  display: flex;
  gap: 80px;
  justify-self: start;
}

.menuLogo {
  align-self: center;
  justify-self: center;
  display: flex;
}

.mainText {
  composes: text from global;
  flex-grow: 0;
}

.mainTextDefault {
  composes: text text_color_inactive from global;
  flex-grow: 0;
}

.menuItem {
  cursor: pointer;
  display: flex;
  text-align: center;
  gap: 10px;
  align-items: center;
  border-radius: 40px;
  padding: 16px 20px;
  border: 10px solid black;
  transition: 0.5s;
}

.rightSection {
  justify-self: end;
}

@media (max-width: 1200px) { 
  .header {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .leftSection {
    gap: 10px;
    align-items: center;
    flex-direction: column;
  }

  .menuLogo {
    order: -1;
  }
}