.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.title {
  font-size: 24px;
  color: #FFF;
}

.description {
  font-size: 16px;
  color: #999;
  margin-top: 10px;
}